@model List<RevistaJuridica.Models.Event>

<div class="full-width-split__one">
    <div class="full-width-split__inner">
        <h2 class="headline headline--small-plus t-center" style="color:#024B25;">Próximos Eventos</h2>
        @foreach (var item in Model)
        {
            <div class="event-summary">
                <a class="event-summary__date t-center" href="@Url.Action("Details", "Event", new { id=item.Id })" style="background-color:#01803D;">
                    <span class="event-summary__month">@item.EventDate.ToString("MMM")</span>
                    <span class="event-summary__day">@item.EventDate.ToString("dd")</span>
                </a>
                <div class="event-summary__content">
                    <h5 class="event-summary__title headline headline--tiny"><a href="@Url.Action("Details", "Event", new { id=item.Id })">@item.Name</a></h5>
                    <p>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        @item.Location
                        <a href="@item.EventLink">
                            <span>
                                <i class="fas fa-link"></i>
                            </span>
                            Ver Evento
                        </a>
                        <br />
                        @{ if (item.Description.Length > 200)
                            {
                                @item.Description.Substring(0, 200)
                                <a href="@Url.Action("Details", "Event", new { id=item.Id })" class="nu gray"> ...Ver mas.</a>
                            }
                            else
                            {
                                @item.Description

                            }
                        }
                    </p>
                </div>
            </div>
        }
        <p class="t-center no-margin"><a href="@Url.Action("Index", "Event")" class="btn btn--blue" style="background-color:#01803D;">Ver Todos</a></p>
    </div>
</div>
