@model List<RevistaJuridica.Models.Event>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="page-banner">
        <div class="page-banner__bg-image" style="background-image: url(Resources/images/Eventos.jpg);"></div>
        <div class="page-banner__content container container--narrow">
            <h1 class="page-banner__title">Eventos</h1>
            <div class="page-banner__intro">
                <p>Se parte de nuestras actividades.</p>
            </div>
        </div>
    </div>

    <div class="container container--narrow page-section">

        <div class="metabox metabox--position-up metabox--with-home-link">
            <p><a class="metabox__blog-home-link" href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> Regresar</a> <span class="metabox__main"> Eventos</span></p>
        </div>
        <br />
        @foreach (var item in Model)
        {
            <div class="event-summary">
                <a class="event-summary__date t-center" href="@Url.Action("Details", "Event", new { id=item.Id })" style="background-color:#01803D;">
                    <span class="event-summary__month">@item.EventDate.ToString("MMM")</span>
                    <span class="event-summary__day">@item.EventDate.ToString("dd")</span>
                </a>
                <div class="event-summary__content" style="color:#01803D;">
                    <h5 class="event-summary__title headline headline--tiny"><a href="@Url.Action("Details", "Event", new { id=item.Id })" style="color:#024B25;">@item.Name</a></h5>
                    <p>
                        @{ if (item.Description.Length > 200)
                            {
                                @item.Description.Substring(0, 200)
                                <a href="@Url.Action("Details", "Event", new { id=item.Id })" class="nu gray"> ...Ver mas.</a>
                            }
                            else
                            {
                                @item.Description

                            }
                        }
                    </p>
                    <p>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        @item.Location
                        <br />
                        <span>
                            <i class="fas fa-clock"></i>
                        </span>
                        @item.EventDate.ToString("dd MMM yyyy hh:mm tt")
                        <br />
                        <a href="@item.EventLink">
                            <span>
                                <i class="fas fa-link"></i>
                            </span>
                            Ver Evento
                        </a>
                    </p>
                </div>
            </div>
            <hr />
        }
    </div>
</body>




