@model RevistaJuridica.Models.Article

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Article</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "Article", FormMethod.Post))
    {
        <fieldset>
            <legend>Article</legend>
            <div>@Html.EditorFor(model => model.ArticleId)</div>
            <div>@Html.LabelFor(model => model.Name)</div>
            <div>@Html.EditorFor(model => model.Name)</div>
            <div>@Html.LabelFor(model => model.Description)</div>
            <div>@Html.EditorFor(model => model.Description)</div>
            <hr />
            <input type="submit" value="Save" />
        </fieldset>

    }

</body>
</html>
