@model List<RevistaJuridica.Models.Article>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Articles</title>
</head>
<body>
    <h1>Article List</h1>
    <hr />
    <div style="text-align:right">
        <a href="/Article/New">New Article</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Article</td>
                <td>Details</td>
                <td>Date</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><h5>@item.Name</h5></td>
                    <td>@item.Description</td>
                    <td>@item.ArticleDate</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.ArticleId })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
